@()

<!DOCTYPE html>

<html>
    <head>
        <title>"Registration Form"</title>        
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    	<script src='@routes.Assets.at("bower_components/webcomponentsjs/webcomponents.js")'></script>
    	<!-- <script src='@routes.Assets.at("bower_components/brick/dist/platform/platform.js")'></script> -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel="import" href='@routes.Assets.at("bower_components/google-chart/google-chart.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/google-map/google-map.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/font-roboto/roboto.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-scaffold/core-scaffold.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-icon-button/core-icon-button.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-menu/core-menu.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-header-panel/core-header-panel.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-item/core-item.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-shared-lib/core-shared-lib.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/core-list/core-list.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/polymer-date-picker/polymer-date-picker.html")'>
        <link rel="import" href='@routes.Assets.at("bower_components/paper-input/paper-input.html")'>
        
    </head>
    
    <polymer-element name="the-body">
	<template>
	<style>
		google-chart {
	      width: 380px;
	   }
	</style>
	<!--
	日降水量 prc 数値 1.500[mm/day]
	海面水温 sst 数値 23.840[℃]
	海上風速 ssw 数値 10.94[m/s]
	土壌水分量 smc 数値 40.800[%]
	積雪深 snd 数値 26.400[cm]
	-->
	<core-shared-lib id="get-data" on-core-shared-lib-load="{{load}}" 
		url="https://joa.epi.bz/api/{{dataType}}all?
		onload=%%callback%%
		&callback=load
		&token=TOKEN_Lu2C_
		&date={{selectedDate}}
		&lat={{centerLat}}
		&lon={{centerLon}}
		&range={{range}}
		&format=jsonp"
	></core-shared-lib>
	
  	<core-scaffold mode="waterfall-short">
	  <core-header-panel navigation flex mode="seamed">
	  <core-toolbar><!-- <img src='/images/dwlogo.svg' width='50px' height='30px'>-->
	  <span flex>メニュー</span>
	  </core-toolbar>
	  <core-menu id='menu' selected="prc" on-core-select="{{onCoreSelect}}">
	    <core-item name="prc" icon="explore"  label="日降水量[mm/day]"></core-item>
	    <core-item name="sst" icon="explore"  label="海面水温[℃]"></core-item>
	    <core-item name="ssw" icon="explore"  label="海上風速[m/s]"></core-item>
	    <core-item name="smc" icon="explore"  label="土壌水分量[%]"></core-item>
	    <core-item name="snd" icon="explore"  label="積雪深[cm]"></core-item>
	  </core-menu>
	  <div style="margin-left:20px">
	  
	  
		  <div>
	     <div>
	     	<span style="width:100px;display:inline-block;">年月日</span><input id="trigger" value="{{selectedDate}}" 
	     		on-click="{{onDatePick}}"
	     		readonly class="date"/>
		  </div>
		  <polymer-date-picker
			  id="datePicker"
			  selectedDate="{{selectedDate}}" 
			  relatedTarget="{{$.trigger}}" 
			  opened="false"/>
			</div>
			
		  <div>
			<span style="width:100px;display:inline-block;">緯度</span><input label="緯度" value="{{centerLat}}"></input>
		  </div>
		  <div>
		  	<span style="width:100px;display:inline-block;">経度</span><input label="経度" value="{{centerLon}}"></input>
		  </div>
		  <div>
		  	<span style="width:100px;display:inline-block;">範囲(0.1~2)</span><input label="範囲(0.1~2)" value="{{range}}"></input>
		  </div>
		  
		
		</div>
	  
	</core-header-panel>
	
	<div tool class="bottom indent">地図</div>

	<span tool flex></span>
	<core-icon-button tool icon="more-vert" on-tap="{{settingsAction}}"></core-icon-button>
	
	<div class="content">
		<google-map id="map" on-google-map-ready="{{googleMapReady}}" 
		on-google-map-dragend="{{googleMapDragend}}" style="height:600px"
		dragEvents="true" zoom="8" > 
	    </google-map> 
	    
	    <!-- 
	    <div>
			<core-list style="height:80px" selectionEnabled="false" data={{mydata}} flex>
			  <template>
			    <div class="row {{ {selected: selected} | tokenList }}">
			      List row: {{index}}, lat:{{model.lat}}, lon:{{model.lon}}, prc:{{model.prc}}
			       <input type="checkbox" checked="{{model.checked}}">
			    </div>
			  </template>
			</core-list>
		</div> 
		 -->
    </div>
    
  </core-scaffold>
  </template>
	<script>
		Polymer({
			dataType:"prc",
			centerLat: 35.41,
			centerLon: 139.45,
			range: 1,
			selectedDate:"2014-06-21",
			mydata: [{name: "1"}, {name: "2"}, {name: "3"}, {name: "4"}],
			circles: [],
			ready : function() {
				//this.$.load.go();
			},
			onDatePick: function(e, detail){
				console.log("onDatePick");
				this.$.datePicker.toggle();
			},
			onCoreSelect : function(e, detail) {
				if (detail.isSelected) {
					var selectedItem = detail.item;
					this.dataType = selectedItem.getAttribute("name");
					console.log(selectedItem);
				}
			},
			googleMapDragend: function(e, detail){
				console.log("googleMapDragend");
				this.centerLat = this.$.map.latitude;
				this.centerLon = this.$.map.longitude;
			},
			googleMapReady: function(e, detail){
				console.log("googleMapReady");
				this.centerLat = 35.41;
				this.centerLon = 139.45;
			},
			load : function(e, detail){
				console.log("oncoresharedlib");
			},
			dateTap : function(e, detail){
				console.log("dateTap");
				console.log(e.detail);
			},
			setData : function(data){
				if(data.result != "ok")
					return;
				
				//console.log("setData");
				//this.mydata = data.values;
				console.log(data);

				this.$.map.latitude = this.centerLat;
				this.$.map.longitude = this.centerLon;

				for (var c in this.circles) {
					this.circles[c].setMap(null);
				}
				circles = [];
				console.log(this.dataType);
			    for (var v in data.values) {
				    var val = data.values[v][this.dataType];
				    var populationOptions = {
				      strokeColor: '#0000FF',
				      strokeOpacity: 0.8,
				      strokeWeight: 1,
				      fillColor: '#0000FF',
				      fillOpacity: 0.35,
				      map: this.$.map.map,
				      center: new google.maps.LatLng(data.values[v].lat,data.values[v].lon),
				      radius: Math.sqrt(val) * 500
				    };
				    
				    var circle = new google.maps.Circle(populationOptions);
				    this.circles.push(circle);
				 }
				
			}
		});

		function load(data){
			var body = document.querySelector('html /deep/ the-body');
			body.setData(data);
		}
	</script>
	</polymer-element>
 	
    <body fullbleed unresolved>
	   <the-body></the-body>
    </body>
</html>
